.main-menu-div {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.25s;
}

.main-menu-down {
  background: linear-gradient(102.71deg, #5E3391 24.22%, rgba(154, 90, 228, 0) 93.8%), #5128C1;
}

.main-menu-up {
  top: -110px !important;
}

.main-menu {
  z-index: 2;
  margin: 25px 0;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.menu-links {
  display: flex;
  margin: 0;
  margin-left: 60px;
  transition: 0.25s;
  z-index: 2;
}

.menu-links a {
  display: block;
  color: white;
  font-size: 18px;
  margin: 0 0.5vw;
  padding: 10px;
  position: relative;
}

.menu-links a:hover {
  color: white;
}

.menu-links a::after {
  position: absolute;
  content: '';
  background-color: white;
  height: 1px;
  width: 0;
  bottom: 5px;
  left: 10%;
  transition: 0.25s;
}

.menu-links a:hover::after {
  width: 80%;
}

.menu-links-mobile {
  padding: 50px 75px;
  transition: 0.25s;
  position: fixed;
  flex-direction: column;
  transform: translateX(100%);
  right: 0;
  top: 0;
  height: 100vh;  
  background-color: white;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.toggle-button {
  display: none;
  position: absolute;
  right: 30px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.toggle-button-move {
  right: 47px;
}

.bar1 {
  width: 32px;
  height: 3px;
  background-color: white;
  transition: 0.25s;
}

.bar1-animate {
  background-color: black;
  transform: rotate(45deg) translateY(14px);
}

.bar2 {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 7px 0;
  transition: 0.25s;
}

.bar2-animate {
  background-color: black;
  width: 0;
}

.bar3-animate {
  background-color: black;
  transform: rotate(-45deg) translateY(-14px);
}

.menu-card-item {
  margin: 50px 0;
}

.menu-card-item h1 {
  font-size: 32px;
  font-weight: 700;  
}

.menu-card-item a {
  font-size: 20px;
  line-height: 2;  
  color: black !important;
  transition: 0.25s;    
}

.menu-card-item a:hover {
  text-shadow: 1px 1px 2px rgb(100, 100, 100);
}

.modal-show {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  transition: 0.25s;
}

.modal-container {
  transition: 0.25s;
}

@media (max-width: 920px) {
  .menu-links {
    display: none;
  }  

  .menu-links-mobile a,
  .menu-links-mobile a:hover {
    color: black;
  }

  .toggle-button {
    display: block;
  }

  .menu-links-mobile-show {
    transform: translateX(0);
    box-shadow: -1px 0 20px;
  }

  .button-fixed {
    position: fixed;
  }  
}