.prazer h1 {
    font-size: 64px;
    font-weight: 400;
}

.prazer p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;    
    margin: 40px 0;
}

.agencia-div {
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 20px;
    margin: 50px 0;
}

.agencia-info h1 {
    font-size: 36px;
    font-weight: 700;
}

.agencia-info p {
    font-size: 20px;
    font-weight: 500;
}

.main-menu-section {
    position: sticky;
    top: 0;
    background: linear-gradient(102.71deg, #5E3391 24.22%, rgba(154, 90, 228, 0) 93.8%), #5128C1;
  }